<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update page</title>
</head>
<body>
<div>
  <h2>Update user</h2>

  <form method="POST" th:action="@{/updateUser}" th:object="${user}">
    <input type="hidden" th:field="*{id}" />
    <label for="email">email</label>
    <input type="text" th:field="*{email}" id="email"/>
    <label for="firstname">firstname</label>
    <input type="text" th:field="*{firstName}" id="firstname"/>
    <label for="lastname">lastname</label>
    <input type="text" th:field="*{lastName}" id="lastname"/>
    <input type="submit" value="Update user"/>
  </form>
<br>
  <a th:href = "@{/}">Back to All Users</a>
</div>
</body>
</html>